
/* 切れ味有効 */
.sharpness-red { color: #808080;background-color: #ff8989;border-color: crimson; border-width: 0px; margin: 0 3px;}
.sharpness-orange { color: #808080;background-color: #ffc489;border-color: sandybrown; border-width: 0px; margin: 0 3px;}
.sharpness-yellow { color: #808080;background-color: #ffff89;border-color: khaki; border-width: 0px; margin: 0 3px;}
.sharpness-green { color: #808080;background-color: #89ff89;border-color: seagreen; border-width: 0px; margin: 0 3px;}
.sharpness-blue { color: #808080;background-color: #89c4ff;border-color: dodgerblue; border-width: 0px; margin: 0 3px;}
.sharpness-white { color: #808080;background-color: #f7f7f7 ;border-color: gainsboro; border-width: 0px; margin: 0 3px;}
/* 切れ味無効 */
.sharpness-selected { border-width: 2px; color: #000;}
.input-range { width: 100%; height: 2.3rem; padding: 0; }
/* ボタンの位置を揃えるためにリストの横パディングをbootstrap標準より削除 */
.list-group-item { padding: .5rem 0rem !important; }